* {
	box-sizing: border-box;
}

body {
	background-color: #d2d2d2;
	font-family: Roboto;
}

.container {
	background-color: #f7f7f7;
	margin: 100px auto;
	width: 400px;
	box-shadow: 1px 1px rgba(0,0,0,0.2);
}

h1 {
	margin: 0;
	background: teal;
	color: white;
	padding: 10px 25px;
}

.fa-plus {
	float: right;
	margin-top: 4px;
}

.fa-plus:hover {
	color: yellow;
}

input[type="text"]{
	border: 2px solid teal;
	padding: 10px 25px;
	width: 100%;
	margin: 0;
	display: none;
}

/*.fa-trash {
	display: inline-block;
	background: red;
	color: white;
}*/

span {
	display: inline-block;
	background: red;
	color: white;
	width: 0px;
	height: 40px;
	text-align: center;
	margin-right: 10px;
	transition: 0.2s width;
	opacity:0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	line-height: 40px;
}

li:hover span {
	width: 40px;
	opacity:1;
}

li:nth-child(2n){
	background: white;
}

.finished {
	text-decoration: line-through;
	color: gray;
}